[submodule "tools"]
	path = tools
	url = git@github.com:kaitsh/small.git
[submodule "void-packages"]
	path = void/repo/void-packages
	url = https://github.com/void-linux/void-packages.git
[submodule "void/repo/void-packages"]
	path = void/repo/void-packages
	url = https://github.com/void-linux/void-packages.git
